.product-single .btn-cart {
    min-width: unset;
}

.product-single-swiper .swiper-slide {
    border: solid 1px #ddd;
}

.product-thumbs .swiper-slide {
    border: solid 1px #ddd;
}

.product-thumbs-wrap .swiper-button-prev {
    background: #593930 !important;
    color: #fff !important;
}

.product-thumbs-wrap .swiper-button-next {
    background: #593930 !important;
    color: #fff !important;
}

.swiper-slide-thumb-active {
    border: solid 1px #593930 !important;
}

.zoomImg {
    cursor: zoom-in !important;
}
