<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="ProductsDB" 
         connectionString="Data Source=sql8012.site4now.net;Initial Catalog=db_acb2f0_kabshak;User Id=db_acb2f0_kabshak_admin;Password=YOUR_DB_PASSWORD;" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="GeneralEntities" 
         connectionString="metadata=res://*/Modals.GeneralModel.csdl|res://*/Modals.GeneralModel.ssdl|res://*/Modals.GeneralModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql8012.site4now.net;initial catalog=db_acb2f0_kabshak;User Id=db_acb2f0_kabshak_admin;Password=YOUR_DB_PASSWORD;multipleactiveresultsets=True;application name=EntityFramework&quot;" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="UsersEntities" 
         connectionString="metadata=res://*/Modals.UsersModel.csdl|res://*/Modals.UsersModel.ssdl|res://*/Modals.UsersModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql8012.site4now.net;initial catalog=db_acb2f0_kabshak;User Id=db_acb2f0_kabshak_admin;Password=YOUR_DB_PASSWORD;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="productsEntities" 
         connectionString="metadata=res://*/Modals.ProductsModel.csdl|res://*/Modals.ProductsModel.ssdl|res://*/Modals.ProductsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql8012.site4now.net;initial catalog=db_acb2f0_kabshak;User Id=db_acb2f0_kabshak_admin;Password=YOUR_DB_PASSWORD;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>